{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_pedidoInformacion" %}"> Pedido</a><span class="divider">></span>
    </li>
    <li>
        Arma Tu Pedido
    </li>
</ul>
{% endblock %}
{% block content %}


        <div class="item">
            <div class="header">
                <a href="{% url "vista_productosPopulares" %}"  ><img src="/media/imagenes/armaTuPedido/productosSolicitados.png" alt="Productos más Solicitados" />
                <div class="column">
                    <h2>Productos más Solicitados</h2>
                </div> </a>
            </div>
        </div>
        
        {% if tipoProducto %}        
        {% for t in tipoProducto %}
        <div class="item">
            <div class="header">
                <a href="/pedido/armaTuPedido/productosSolicitados/{{t.codigo}}/" ><img src="/media/{{t.imagen}}" alt="{{t.nombre}}" />
                <div class="column">
                  {{t.nombre}}
                </div> </a>
            </div>
        </div>
        {% endfor %}
       {% endif %}  
       <div class="item">
            <div class="header">
                <a href="{% url "vista_menuDisponibles" %}" ><img src="/media/imagenes/armaTuPedido/menu.jpg" alt="Menu" />
                <div class="column">
                    Menú
                </div> </a>
            </div>
        </div>
    <!--    <div class="item">
            <div class="header">
                <a href="{% url "vista_promosDisponibles" %}"  ><img src="/media/imagenes/armaTuPedido/promocion.jpg" alt="Promocion" />
                <div class="column">
                   Promociones
                </div> </a>
            </div>
        </div>-->   
 
{% endblock %}
{% block panelAux %}
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="HistoricoPedido">
        <li class="nav-header">
           Historicos de Pedidos
        </li>
        <p align="justify">
           No ha ingresado aún
        <p>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Promociones">
        <li class="nav-header">
           Promociones Imperdibles
        </li>
        <img src="/media/imagenes/armaTuPedido/promocion.jpg" alt="Promocion" />        
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Configuracion">
        <li class="nav-header">
           Configuración del Pedido
        </li>
        <br>
        <p align="justify">
            {% if domicilio  %}
        <p>
            <strong>Mi ubicación:</strong>{{domicilio.direccion}},{{domicilio.numero_direccion}},{{domicilio.barrio}},{{domicilio.localidad}},{{domicilio.codigo_postal}}
             {% endif %}
        </p>
       
        <p>
            {% if sucursal  %}
            <strong>Mi Sucursal:</strong>{{sucursal.nombre}},{{sucursal.direccion}}, {{sucursal.numero_direccion}},{{sucursal.barrio}}
             {% endif %}
        </p>
         <p>
          
            <strong>Servicio Elegido:</strong>No ha seleccionado
         
        </p>
         <p>
     
            <strong>Horario del pedido:</strong>No ha seleccionado
        </p>

       
        </p>
    </ul>
</div><!--/.well -->
{% endblock %}
