{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a><span class="divider">></span>
    </li>
    <li>
        Pedido
    </li>
</ul>
{% endblock %}
{% block estadoPedido %}
<div class="cabecera" >
 <ul class="nav nav-pills " >
    <li >
    <a >INFORMACIÓN DIRECCIÓN</a>
    </li>
    <li ><a >ARMA TU PEDIDO</a></li>
    <li ><a  >DETALLE DE PEDIDO</a></li>
    <li class="active"><a href="#" data-toggle="tab" >DETALLE DE PAGO Y ENTREGA</a></li>
    <li><a >PEDIDO FINALIZADO</a></li>
    </ul>
    </div>
    {% endblock %}
{% block content %}
<div class="encabezado">detalle de pedido</div>
     {% if pedido %}
        <table class="table table-hover" cellspacing="5" cellpadding="5">
           <tbody>
                <tr>
                   <td>Productos Solicitados</td><td Style="text-align: left" >{{pedido.cantidadTotalProductos}}</td><td>${{pedido.subTotal}}</td>
                  
                </tr>
               
                 <tr><td>Envio</td><td></td><td>${{pedido.precio_envio}}</td></tr>
                
                 <tr><td>TOTAL</td><td></td><td>${{pedido.precioTotal}}</td></tr>
           </tbody>
       
        </table>
                  <div class="encabezado">detalle de pago</div>


  <form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.non_field_errors }}
            <table class="table" border="0" cellspacing="5" cellpadding="5">
                <tr><td>Importe Total:</td><td>${{pedido.precioTotal}}</td><td></td></tr>
                <tr><td> Importe a pagar:</td><td><div class="input-prepend"><span class="add-on">$</span>{{form.importePagar}}</div> <button type="submit"  class="btn btn-primary">confirmar</button></td><td>{{ form.importePagar.errors}}</td></tr>
                <tr><td>Vuelto:</td><td style="color:#FF0000">${{vuelto}}</td></tr>
            </table>
          
            </form>
                   
        {% endif %}
    <div class="encabezado">Detalle de entrega</div>
<form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table" border="0" cellspacing="5" cellpadding="5">
                <tr><td>Hora actual:</td><td></td><td>{{horaActual}}</td></tr>
                <tr><td>Solicito pedido para<td>
                	<td>{{form2.horaPedir}} </td>
                	<td style="font-weight:none; font-size: 15px;">  {{form2.horaPedir.errors}}</td>
               </tr>
                
            </table>
        
          <button type="submit"  class="btn btn-large btn-primary pull-right">confirmar</button>
          </form>
      

{% endblock %}
{% block panelAux %}
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="ProductosNuevos">
        <li class="nav-header">
           Historicos de Pedidos
        </li>
        <p align="justify">
              {% if user.is_authenticated %}
              No tiene registrado ningún pedido
              {% else %}
           No ha ingresado aún
            {% endif %}
        <p>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Configuracion">
        <li class="nav-header">
           Configuración del Pedido
        </li>
        <br>
        <p align="justify">
            {% if domicilio  %}
        <p>
            <strong>Mi ubicación:</strong>{{domicilio.direccion}},{{domicilio.numero_direccion}},{{domicilio.barrio}},{{domicilio.localidad}},{{domicilio.codigo_postal}}
             {% endif %}<a href="/pedido/actualizar/{{domicilio.id}}/">Cambiar</a>
        </p>
       
        <p>
            {% if sucursal  %}
            <strong>Mi Sucursal:</strong>{{sucursal.nombre}},{{sucursal.direccion}}, {{sucursal.numero_direccion}},{{sucursal.barrio}}
             {% endif %}<a href="/pedido/sucursales/" >Cambiar</a>
        </p>
         <p>
         {% if domicilio  %}
            <strong>Servicio Elegido:</strong>{{domicilio.servicio.nombre}}
            <a href="/pedido/actualizar/{{domicilio.id}}/">Cambiar</a>
         {% endif %}
        </p>
         <p>
     
            <strong>Horario del pedido:</strong>No ha seleccionado
        </p>

       
        </p>
    </ul>
</div><!--/.well -->
{% endblock %}
