{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a><span class="divider">></span>
    </li>
    <li>
        Pedido
    </li>
</ul>
{% endblock %}
{% block estadoPedido %}
<div class="cabecera" >
 <ul class="nav nav-pills " >
    <li >
    <a >INFORMACIÓN DIRECCIÓN</a>
    </li>
    <li ><a >ARMA TU PEDIDO</a></li>
    <li class="active"><a href="#" data-toggle="tab" >DETALLE DE PEDIDO</a></li>
    <li><a >DETALLE DE PAGO Y ENTREGA</a></li>
    <li><a >PEDIDO FINALIZADO</a></li>
    </ul>
    </div>
    {% endblock %}
{% block content %}
<script  type="text/javascript">

function actualizarCantidad(combo)
    {
        var id_det = $(combo).attr('id');
        var cantidad = $(combo).find("option:selected").val();
        $.get("/pedido/armaTuPedido/productosActualizar/"+cantidad+"/"+id_det+"/",function(data){
         location.reload();
        });
    }
</script>

<div class="encabezado">Detalle de Pedido</div> 
<br />
    {% if pedido %}
        <table class="table table-hover   "  cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>                    
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>                   
                </tr>
            </thead>
   
          
               
            <tbody>
                  {% for d in pedido.getDetallePedido %}
                <tr>
                    {% if d.producto  %}
                    <td><img src="/media/{{d.producto.imagenProducto}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    {% if d.menu  %}
                    <td><img src="/media/{{d.menu.imagen}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    {% if d.promocion %}
                    <td><img src="/media/{{d.promocion.imagen}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    <td>{{d.promocion.nombre}}{{d.menu.nombre}} {{d.producto.producto.nombre}} {{d.producto.clasificacion}} </td>                   
                    <td>
                   <select name="cantidad" id="{{d.id}}"  style="width:50px" onchange = "actualizarCantidad(this)">
                        <option {% if d.cantidad == 0 %} selected="selected" {% endif %} value="1">0</option>
                        <option {% if d.cantidad == 1 %} selected="selected" {% endif %}  value="1">1</option>
                        <option {% if d.cantidad == 2 %} selected="selected" {% endif %}  value="2">2</option>
                        <option  {% if d.cantidad == 3 %} selected="selected" {% endif %} value="3">3</option>
                        <option {% if d.cantidad == 4 %} selected="selected" {% endif %} value="4">4</option>
                    </select></td>
                       <td>${{d.precio}}</td>
                     <td> ${{d.precioTotalUnidad}} </td>
                </tr>
                 
            {% endfor %}
                 <tr><td></td><td>Envio</td><td></td><td></td><td>${{pedido.precio_envio}}</td></tr>              
                 <tr><td></td><td>TOTAL</td><td></td><td></td><td>${{pedido.precioTotal}}</td></tr>
            </tbody>
         
        </table>

        {% endif %}
        <br />
<div class="encabezado">También podes disfrutar</div>

<div class="añadir">
    <div class="producto" >
        <a href="/pedido/armaTuPedido/productosSolicitados/1"  ><img src="/media/imagenes/armaTuPedido/bebida.jpg" alt="bebida" /> </a> <p>Bebidas</p>
    </div>
    <div class="producto" >
        <a href="/pedido/armaTuPedido/productosSolicitados/3"  ><img src="/media/imagenes/armaTuPedido/postre.jpg" alt="postre" /></a><p>Postres</p>
    </div>
    <div class="producto" >
        <a href="/pedido/armaTuPedido/productosSolicitados/4" ><img src="/media/imagenes/armaTuPedido/guarnicion.jpg" alt="guarnicion" /></a><p>Guarniciones</p>
    </div>
</div>
        <a class="btn btn-danger"  href="#">Cancelar </a>
     <!--  <a class="btn "  href="javascript:window.history.go(-1);">Volver </a>-->
      {% if user.is_authenticated %}
        <a class="btn btn-large btn-primary pull-right"  href="{% url "vista_detallePago" %}">Confirmar Comprar</a>
        {% else %}
            <a href="#myModal" class="btn btn-large btn-primary pull-right" data-toggle="modal"> Confirmar Comprar</a>
            <div class="modal hide fade " id="myModal" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Atención</h3>
            </div>
            <div class="modal-body">
            <p>Debe loguearse para confirmar el pedido</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <a href="{% url "vista_login" %}" class="btn btn-primary">Loguearse</a>
            </div>
                </div>
            {% endif %}

   
{% endblock %}
{% block panelAux %}
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="ProductosNuevos">
        <li class="nav-header">
           Historicos de Pedidos
        </li>
        <p align="justify">
           No ha ingresado aún
        <p>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Configuracion">
        <li class="nav-header">
           Configuración del Pedido
        </li>
        <br>
        <p align="justify">
            {% if domicilio  %}
        <p>
            <strong>Mi ubicación:</strong>{{domicilio.direccion}},{{domicilio.numero_direccion}},{{domicilio.barrio}},{{domicilio.localidad}},{{domicilio.codigo_postal}}
             {% endif %}<a href="/pedido/actualizar/{{domicilio.id}}/">Cambiar</a>
        </p>
       
        <p>
            {% if sucursal  %}
            <strong>Mi Sucursal:</strong>{{sucursal.nombre}},{{sucursal.direccion}}, {{sucursal.numero_direccion}},{{sucursal.barrio}}
             {% endif %}<a href="" >Cambiar</a>
        </p>
         <p>
         {% if domicilio  %}
            <strong>Servicio Elegido:</strong>{{domicilio.servicio.nombre}}
            <a href="/pedido/actualizar/{{domicilio.id}}/">Cambiar</a>
         {% endif %}
        </p>
         <p>
     
            <strong>Horario del pedido:</strong>No ha seleccionado
        </p>

       
        </p>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="ProductosNuevos">
        <li class="nav-header">
           Promociones Imperdibles
        </li>
       <a href="/pedido/armaTuPedido/promosDisponibles/"> <img src="/media/imagenes/armaTuPedido/promocion.jpg" alt="Promocion" /></a>       
    </ul>
</div><!--/.well -->
{% endblock %}
