{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_pedidoInformacion" %}"> Pedido</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_armaTuPedido" %}"> Arma Tu Pedido</a><span class="divider">></span>
    </li>
    <li>
         Menú 
    </li>
</ul>
{% endblock %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $("select").change(function() {
            var valor = $(this).find("option:selected").val();
            //alert(valor);
            //var str
            console.log(valor);
            $("#lblCantidad").text(valor);
        });
        
        $( "a" ).click(function() {
        var clase  = $(this).attr('class');
        if(clase == 'btn')
        {
            var fila = $(this).closest("tr");
            var numeroCombo = $(fila).find("select").find("option:selected").val();
            var idProducto = $(this).attr('id');
            console.log(idProducto);
            console.log(numeroCombo);
            $(this).attr("href", "/pedido/armaTuPedido/productos/ "+numeroCombo+"/"+idProducto+"/2/");
        }
        console.log(clase);
    }); 
    
    
});
</script>
<div class="encabezado">Menús Disponibles</div>
<br />
        {% if productos %}
        <table "table table-striped " cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Menú</th>
                    <th>Precio Unidad</th>
                    <th>Cantidad</th>
                    <th>Carrito</th>
                </tr>
            </thead>
            {% for m in productos %}          
            <tbody>
                <tr>
                    <th><img src="/media/{{m.imagen}}" alt="" width="50px" heigth="50px" /></th>
                    <th> {{m.nombre}} </th>
                    <th> ${{m.precioVenta}} </th>
                    <th>
                    <select name="cantidad" id="cantidad" style="width:50px">
                        <option value="1">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select></th>
                    <th><a id="{{m.codigo}}"class="btn" href="{% url "vista_armaTuPedido" %}"><i class="icon-shopping-cart"></i></a></th>
                </tr>
            </tbody>
        
            {% endfor %}
        </table>
        {% endif %}
        <br />
        <br />
        <a class="btn btn-danger"  href="#">Cancelar </a>
        <a class="btn "  href="{% url "vista_armaTuPedido" %}">Volver </a>
        <a class="btn btn-primary pull-right"  href="{% url "vista_detallePedido" %}">Continuar</a>
{% endblock %}
{% block panelAux %}
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="ProductosNuevos">
        <li class="nav-header">
           Historicos de Pedidos
        </li>
        <p align="justify">
           No ha ingresado aún
        <p>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Pedido">
        <li class="nav-header">
           Tu Pedido
        </li>
            <p align="justify">
    
        
    {% if pedido %}      
           
           <table border="0" cellspacing="5" cellpadding="5">
                 {% for d in pedido.getDetallePedido %}
               <tr><td> {{d.promocion.nombre}}  {{d.menu.nombre}}{{d.producto.producto.nombre}} {{d.producto.clasificacion}}</td>
                   <td> <select name="cantidad" id="cantidad"  style="width:50px">
                        <option {% if d.cantidad == 0 %} selected="selected" {% endif %} value="1">0</option>
                        <option {% if d.cantidad == 1 %} selected="selected" {% endif %}  value="1">1</option>
                        <option {% if d.cantidad == 2 %} selected="selected" {% endif %}  value="2">2</option>
                        <option  {% if d.cantidad == 3 %} selected="selected" {% endif %} value="3">3</option>
                        <option {% if d.cantidad == 4 %} selected="selected" {% endif %} value="4">4</option>
                    </select> <input type="hidden" name="s"  {% if d.menu %} value="2" {% elif d.producto %} value="1" {% elif d.promocion %} value="3"  {% endif %}  id="{{d.promocion.codigo}} {{d.menu.codigo}}{{d.producto.id}}"/> </td>
             </tr>
               <tr><td>Precio: {{d.precioTotalUnidad}}</td><td><a href="/pedido/armaTuPedido/del/productos/{{d.id}}" >quitar</a> </td></tr>
               
        
                <hr />
           {% endfor %}
          
           </table>
            </div>
       
        <p>Envio:{{pedido.precio_envio}}</p>
        <hr />
        <p>Total:{{pedido.precioTotal}}</p>
        {% endif %}
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Configuracion">
        <li class="nav-header">
           Configuración del Pedido
        </li>
        <br>
        <p align="justify">
            {% if domicilio  %}
        <p>
            <strong>Mi ubicación:</strong>{{domicilio.direccion}},{{domicilio.numero_direccion}},{{domicilio.barrio}},{{domicilio.localidad}},{{domicilio.codigo_postal}}
             {% endif %}<a href="" >Cambiar</a>
        </p>
       
        <p>
            {% if sucursal  %}
            <strong>Mi Sucursal:</strong>{{sucursal.nombre}},{{sucursal.direccion}}, {{sucursal.numero_direccion}},{{sucursal.barrio}}
             {% endif %}<a href="" >Cambiar</a>
        </p>
         <p>
          
            <strong>Servicio Elegido:</strong>No ha seleccionado
         <a href="" >Cambiar</a>
        </p>
         <p>
     
            <strong>Horario del pedido:</strong>No ha seleccionado
        </p>

       
        </p>
    </ul>
</div><!--/.well -->
{% endblock %}
