{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="/">Home</a>  <span class="divider">></span> </li>
<li><a href="{% url "vista_pedidoInformacion" %}"> Pedido</a>  <span class="divider">></span> </li>
</ul>
{% endblock %}
{% block content %}
<h4>¿Este pedido es para Entregar o para Llevar?</h4>
{% if servicios %}
{% for s in servicios %}
<input type="radio" name="servicios" value={{s.nombre}}>
{{s.nombre}}
{% endfor %}
{% endif %}
<h4>Indicanos en donde estas, para buscar la sucursal más cercana:</h4>
{% if tipologias %}
{% for t in tipologias %}
<input type="radio" name="tipologias" value={{t.nombre}}/>
{{t.nombre}}
{% endfor %}
{% endif %}
<form action='.' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
    <button type="submit"  class="btn btn-small btn-primary pull-right">Iniciar Pedido</button>   
</form> 
{% endblock %}