{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="/">Home</a>  <span class="divider">></span> </li>
<li><a href="{% url "vista_pedidoInformacion" %}"> Pedido</a>  <span class="divider">></span> </li>
</ul>
{% endblock %}
{% block content %}
<h5>¿Este pedido es para Entregar o para Llevar?</h5>
{% if servicios %}
<div class="btn-group" data-toggle="buttons-radio">
{% for s in servicios %}
<button type="button" class="btn btn-primary">{{s.nombre}}</button>
{% endfor %}
</div>
{% endif %}
<h5>Indicanos en donde estas, para buscar la sucursal más cercana:</h5>
{% if tipologias %}
{% for t in tipologias %}
<input type="radio" name="tipologias" value={{t.nombre}}/>
{{t.nombre}}
{% endfor %}
{% endif %}
<ul class="nav nav-pills">
    <li class="active">
        <a href="#casa" data-toggle="tab"><img src="/media/imagenes/armaTuPedido/casa.jpg" alt="" width="60px" height="60px"/>Casa</a>
    </li>
    <li>
        <a href="#depto" data-toggle="tab"><img src="/media/imagenes/armaTuPedido/depto.jpg" alt="" width="60px" height="60px"/>Departamento</a>
    </li>
    <li>
        <a href="#otro" data-toggle="tab"><img src="/media/imagenes/armaTuPedido/otro.jpg" alt="" width="60px" height="60px"/>Otro</a>
    </li> 
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="casa">
        <br />
       <form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
<button type="submit"  class="btn btn-primary pull-right">Iniciar Pedido</button> 
</form> 
    </div>
    <div class="tab-pane" id="depto">
    <br />
       <form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
<button type="submit"  class="btn  btn-primary pull-right">Iniciar Pedido</button> 
</form> 
    </div>
    <div class="tab-pane" id="otro">
        <br />
       <form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
<button type="submit"  class="btn  btn-primary pull-right">Iniciar Pedido</button> 
</form> 
    </div>
</div>

{% endblock %}