{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_pedidoInformacion" %}"> Pedido</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_armaTuPedido" %}"> Arma Tu Pedido</a><span class="divider">></span>
    </li>
    <li>
       <a href="{% url "vista_detallePedido" %}"> Detalle de Pedido</a><span class="divider">></span>
    </li>
    <li>
       <a href="{% url "vista_detallePago" %}"> Detalle de Pedido</a><span class="divider">></span>
    </li>
    <li>
        Pedido Finalizado
    </li>
</ul>
{% endblock %}
{% block estadoPedido %}
<div class="cabecera" >
 <ul class="nav nav-pills " >
    <li >
    <a >INFORMACIÓN DIRECCIÓN</a>
    </li>
    <li ><a >ARMA TU PEDIDO</a></li>
    <li ><a  >DETALLE DE PEDIDO</a></li>
    <li ><a  >DETALLE DE PAGO Y ENTREGA</a></li>
    <li class="active"><a href="#" data-toggle="tab">PEDIDO FINALIZADO</a></li>
    </ul>
    </div>
    {% endblock %}
{% block content %}
<div class="encabezado">pedido finalizado</div>
    {% if pedido %}
        <table  class="table table-hover"  cellspacing="5" cellpadding="5">
            <thead>
                <tr>               
                    <th>Producto</th>                    
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>                   
                </tr>
            </thead>
            {% for d in pedido.getDetallePedido %}
               
            <tbody>
                <tr>
                    <th> {{d.producto.producto.nombre}} {{d.producto.clasificacion}} </th>                   
                    <th>{{d.cantidad}}                       </th>
                       <th>${{d.precio}}</th>
                     <th> ${{d.precioTotalUnidad}} </th>
                </tr>
                 
            {% endfor %}
                 <tr><th>Envio</th><th></th><th></th><th>${{pedido.precio_envio}}</th></tr>              
                 <tr><th>TOTAL</th><th></th><th></th><th>${{pedido.precioTotal}}</th></tr>
                 <tr><th>Se abona con</th><th></th><th></th><th>${{importe}}</th></tr>              
                 <tr><th>Vuelto</th><th></th><th></th><th>${{vuelto}}</th></tr>
            </tbody>         
        </table>
<br />
        {% if domicilio  %}
        <p>Pedido va ser enviado: <strong>{{domicilio.direccion}}-{{domicilio.numero_direccion}}-{{domicilio.barrio}}-{{domicilio.localidad}}</strong></p>
             {% endif %}
             {% if sucursal  %}
        <p>Sucursal Asignada: <strong >{{sucursal.nombre}}-{{sucursal.direccion}}</strong></p>
             {% endif %}
              <p>Solicitud de pedido: <strong>{{horaPedir}}</strong>hs</p>
              <p>Estado de Pedido: <strong style="color:#FF0000">{{pedido.estado}}</strong></p>
              <p>Tiempo estimado preparación: <strong>{{total}}</strong> min</p>
              <p>Hora entrega de pedido: <strong >{{pedido.hora_entrega}}</strong>hs</p>
                {% endif %}             
              
                <a class="btn btn-large btn-primary pull-right"  href="{% url "vista_cerrarPedido" %}">Cerrar</a>
        
{% endblock %}
{% block panelAux %}
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="ProductosNuevos">
        <li class="nav-header">
           Historicos de Pedidos
        </li>
        <p align="justify">
           No ha ingresado aún
        <p>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Configuracion">
        <li class="nav-header">
           Configuración del Pedido
        </li>
        <br>
        <p align="justify">
            {% if domicilio  %}
        <p>
            <strong>Mi ubicación:</strong>{{domicilio.direccion}},{{domicilio.numero_direccion}},{{domicilio.barrio}},{{domicilio.localidad}},{{domicilio.codigo_postal}}
             {% endif %}
        </p>
       
        <p>
            {% if sucursal  %}
            <strong>Mi Sucursal:</strong>{{sucursal.nombre}},{{sucursal.direccion}}, {{sucursal.numero_direccion}},{{sucursal.barrio}}
             {% endif %}
        </p>
         <p>
          
            <strong>Servicio Elegido:</strong>No ha seleccionado
         
        </p>
         <p>
     
            <strong>Horario del pedido:</strong>No ha seleccionado
        </p>

       
        </p>
    </ul>
</div><!--/.well -->
{% endblock %}
