{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_pedidoInformacion" %}"> Pedido</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_armaTuPedido" %}"> Arma Tu Pedido</a><span class="divider">></span>
    </li>
    <li>
        Productos 
    </li>
</ul>
{% endblock %}
{% block estadoPedido %}
<div class="cabecera" >
 <ul class="nav nav-pills " >
    <li >
    <a >INFORMACIÓN DIRECCIÓN</a>
    </li>
    <li class="active"><a href="#" data-toggle="tab" >ARMA TU PEDIDO</a></li>
    <li><a >DETALLE DE PEDIDO</a></li>
    <li><a >DETALLE DE PAGO Y ENTREGA</a></li>
    <li><a >PEDIDO FINALIZADO</a></li>
    </ul>
    </div>
    {% endblock %}
{% block content %}
<!--<label id = "lblCantidad"></label>-->
<script type="text/javascript">
	$(document).ready(function() {
		$("select").change(function() {
			var valor = $(this).find("option:selected").val();
			//alert(valor);
			//var str
			console.log(valor);
			$("#lblCantidad").text(valor);
		});	
		$( "a" ).click(function() {
        var clase  = $(this).attr('class');
        if(clase == 'btn')
        {
            var fila = $(this).closest("tr");
            var numeroCombo = $(fila).find("select").find("option:selected").val();
            var idProducto = $(this).attr('id');
            console.log(idProducto);
            console.log(numeroCombo);
            $(this).attr("href", "/pedido/armaTuPedido/productos/ "+numeroCombo+"/"+idProducto+"/1/");
        }
        console.log(clase);
	}); 
	
	
});

function actualizarCantidad(combo)
	{
		var id_det = $(combo).attr('id');
		var cantidad = $(combo).find("option:selected").val();
		$.get("/pedido/armaTuPedido/productosActualizar/"+cantidad+"/"+id_det+"/",function(data){
		$('#Pedido').html(data);
		});
	}
</script>
<div class="encabezado">Productos</div>
<br />
        {% if productos %}
        <table class="table table-hover   " cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Precio Unidad</th>
                    <th>Cantidad</th>
                    <th>Carrito</th>
                </tr>
            </thead>
            {% for p in productos %}     
            {% for d in p.getDetalleVersiones %}
      <form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <tbody>
                <tr>
                    <th><img src="/media/{{d.imagenProducto}}" alt="" width="50px" heigth="50px" /></th>
                    <th> {{p.nombre}} {{d.clasificacion}}</th>
                    <th> ${{d.precio}} </th>
                   <th><!--{{form.producto}}{{form.cantidad}}<input id="id_pro{{d.id}}" name="pro" value={{d.id}} type="hidden"></th>-->
                <select id="{{d.id}}" name="cantidad" id="cantidad" style="width:50px" {% if not p.estado %}disabled="true" {% endif %}>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select></th>           
                    <th>{% if p.estado %}
                        <a id="{{d.id}}" href="/pedido/armaTuPedido/productosPopulares/4/{{d.id}}/1/" class="btn" type="submit"><i class="icon-shopping-cart"></i></a>
                        {% else %}
                        <p style="color:#FF0000">No Disponible</p>
                        {% endif %}
               <!--  <th> <button type="submit"  class="btn btn-primary">
                confirmar
            </button>  </th>-->
                </tr>
           <!--   </form>-->       
            </tbody>
            
            {% endfor %}           
            {% endfor %}
        </table>
        {% endif %}
        <br />
        <br />
        <a class="btn btn-danger"  href="#">Cancelar </a>
        <a class="btn "  href="{% url "vista_armaTuPedido" %}">Volver </a>
        <a class="btn btn-primary pull-right"  href="{% url "vista_detallePedido" %}">Continuar</a>
{% endblock %}
{% block panelAux %}
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="ProductosNuevos">
        <li class="nav-header">
           Historicos de Pedidos
        </li>
        <p align="justify">
            {% if user.is_authenticated %}
            No tiene pedidos en el historial
            {% else %}
           No ha ingresado aún
           {% endif %}
        <p>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Pedido">
        <li class="nav-header">
           Tu Pedido
        </li>
            <div align="justify">
        <!--        {% if detalles %}             
                 {% for key,value in detalles.items %}
                      
                      <p>{{value.1.producto.nombre}} {{value.1.clasificacion}}</p>
                       <select name="cantidad" id="cantidad"  style="width:50px">                         
                        <option {% if value.0  == '1'  %} selected="selected" {% endif %}  value="1">1</option>
                        <option {% if value.0  == '2' %} selected="selected" {% endif %}  value="2">2</option>
                        <option  {% if value.0 == 3 %} selected="selected" {% endif %} value="3">3</option>
                        <option {% if value.0 == '4' %} selected="selected" {% endif %} value="4">4</option>
                    </select>
                     {{value.0}}
                        <hr />
                       
                 {% endfor %}
                 {% endif %}-->
            
        
    {% if pedido %}      
           
           <table border="0" cellspacing="5" cellpadding="5">
                 {% for d in pedido.getDetallePedido %}
               <tr><td>   {{d.promocion.nombre}} {{d.menu.nombre}}{{d.producto.producto.nombre}} {{d.producto.clasificacion}}</td>
                   <td> <select name="cantidad" id="{{d.id}}"  style="width:50px" onchange = "actualizarCantidad(this)">
                        <option {% if d.cantidad == 0 %} selected="selected" {% endif %} value="1">0</option>
                        <option {% if d.cantidad == 1 %} selected="selected" {% endif %}  value="1">1</option>
                        <option {% if d.cantidad == 2 %} selected="selected" {% endif %}  value="2">2</option>
                        <option  {% if d.cantidad == 3 %} selected="selected" {% endif %} value="3">3</option>
                        <option {% if d.cantidad == 4 %} selected="selected" {% endif %} value="4">4</option>
                    </select> </td>
             </tr>
               <tr><td>Precio: {{d.precioTotalUnidad}}</td><td><a href="/pedido/armaTuPedido/del/productos/{{d.id}}" >quitar</a> </td></tr>
               
               
                <hr />
           {% endfor %}
          
           </table>
            </div>
           
          
               
            
       
                      
    
                    
         
            
  
       
        
       
        <p>Envio:{{pedido.precio_envio}}</p>
        <hr />
        <p>Total:{{pedido.precioTotal}}</p>
        {% else %}
        <p>Aun no ha cargado nigún elemento en el pedido</p>
        {% endif %}
        
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="Configuracion">
        <li class="nav-header">
           Configuración del Pedido
        </li>
        <br>
        <p align="justify">
            {% if domicilio  %}
        <p>
            <strong>Mi ubicación:</strong>{{domicilio.direccion}},{{domicilio.numero_direccion}},{{domicilio.barrio}},{{domicilio.localidad}},{{domicilio.codigo_postal}}
             {% endif %}<a href="/pedido/actualizar/{{domicilio.id}}/">Cambiar</a>
        </p>
       
        <p>
            {% if sucursal  %}
            <strong>Mi Sucursal:</strong>{{sucursal.nombre}},{{sucursal.direccion}}, {{sucursal.numero_direccion}},{{sucursal.barrio}}
             {% endif %}<a href="" >Cambiar</a>
        </p>
         <p>
          
            <strong>Servicio Elegido:</strong>No ha seleccionado
         <a href="" >Cambiar</a>
        </p>
         <p>
     
            <strong>Horario del pedido:</strong>No ha seleccionado
            
        </p>

       
        </p>
    </ul>
</div><!--/.well -->
{% endblock %}


