{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_pedidoInformacion" %}"> Pedido</a><span class="divider">></span>
    </li>
    <li>
        <a href="{% url "vista_armaTuPedido" %}"> Arma Tu Pedido</a><span class="divider">></span>
    </li>
    <li>
        <a href="#"> Productos </a>
    </li>
</ul>
{% endblock %}
{% block content %}

        {% if productos %}
        <table "table table-striped " cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Precio Unidad</th>
                    <th>Cantidad</th>
                    <th>Carrito</th>
                </tr>
            </thead>
            {% for p in productos %}
            {% if detalleProducto %}
            {% for d in detalleProducto %}
            {% if d.producto = p %}
            <tbody>
                <tr>
                    <th><img src="/media/{{d.imagenProducto}}" alt="" width="50px" heigth="50px" /></th>
                    <th> {{p.nombre}} </th>
                    <th> ${{d.precio}} </th>
                    <th>
                    <select name="cantidad" id="cantidad" style="width:50px">
                        <option value="1">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select></th>
                    <th><a class="btn" href="{% url "vista_armaTuPedido" %}"><i class="icon-shopping-cart"></i></a></th>
                </tr>
            </tbody>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </table>

        {% endif %}
        <a class="btn btn-danger"  href="#">Cancelar </a>
        <a class="btn "  href="{% url "vista_armaTuPedido" %}">Volver </a>
        <a class="btn btn-primary pull-right"  href="#">Continuar</a>
{% endblock %}
{% block panelAux %}
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">
            Mi Direccion
        </li>
        <br>
        <p align="justify">
            {% if domicilio  %}
        <p>
            <strong>Direccion:</strong>{{domicilio.direccion}},{{domicilio.numero_direccion}},{{domicilio.barrio}},{{domicilio.localidad}},{{domicilio.codigo_postal}}
        </p>
        <hr>
        <p>
            <strong>Sucursal:</strong>
        </p>

        {% endif %}
        </p>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="ProductosNuevos">
        <li class="nav-header">
            Nuevos
        </li>
    </ul>
</div><!--/.well -->
{% endblock %}

