{% extends 'baseAdmin.html' %}
{% block title %} Lista de Tipo Documento {% endblock %}
{%block content %}
<h3>Catalogo de Documentos:</h3>

<br>
{% if tipos %}
    <table class="table table-hover">
    	<thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>                  
                </tr>
        </thead>
    {% for t in tipos %}
     	<tbody>
     		<tr>
				<td>{{ t.nombre }}</td>
				<td>{{ t.descripcion}}</td>				
				<td><a class="btn" href="#"><i class="icon-search"></i>   Ver</a></td>
				<td><a class="btn" href="#"><i class="icon-shopping-cart"></i> Comprar</a></td>
				<!--{% if user.is_authenticated and user.is_staff %}
					<td><a class="btn" href="/edit/producto/{{p.id}}/"><i class="icon-pencil"></i>  Editar </a></td>
				{% endif %}	-->			
			</tr>
		</tbody>
	{% endfor %}
    </table>
	
{% else %}
	<h2>No existen tipos activos( </h2>
{% endif %}
<br>
{% if tipos %}
<div class="pagination">
    <ul>
		<li><a href="/tipos/page/1"> << </a></li>
	{% if tipos.has_previous %}
		<li><a href="/tipos/page/{{tipos.previous_page_number }}/"> Prev </a></li>
	{% else %}
		<li><a href="#"> Prev </a></li>
	{% endif %}
	{% if tipos.has_next %}
		<li><a href="/tipos/page/{{tipos.next_page_number }}/"> Next </a></li>
	{% else %}
		<li><a href="#"> Next </a></li>
	{% endif %}
		<li><a href="/tipos/page/{{tipos.paginator.num_pages }} "> >> </a><li>
	</ul>
	</div>
	<h4> Página {{ tipos.number }} de {{ tipos.paginator.num_pages }}</h4> 
{% endif %}
{% endblock %}
