
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Proyecto Demo</title>
    <!-- Le styles -->
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
     <link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/media/js/jquery.js"></script>
    <script src="/media/bootstrap/js/bootstrap.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }      
    </style>
    
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{% url "vista_indexAdmin" %}">Proyecto SiGeP</a>
            {% if user.is_authenticated %}
            <p class="navbar-text pull-right">
              Logged in as {{ user.username }}
            </p>
            {% endif %}
            <ul class="nav nav-pills">
                    {% if user.is_authenticated %}
                <li class="dropdown ">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recursos de Empresa<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <!-- links -->
                       <li ><a href='/recursosDeEmpresa/empleados/page/1/'>Empleados</a></li>
                        <!--<li class="divider"></li>-->
                       <!-- <li ><a href='/RecursosDeEmpresa'/>Plataforma Indumentaria</a></li>-->
                        <li ><a href='/tipos/page/1/'>Tipo de Documento</a></li>
                        <!--<li ><a href='/plataformas/editorial'>Plataforma Proyectos Editoriales Independientes</a></li>-->
                    </ul>
                </li>
                
            
                <li><a href="{% url "vista_logout" %}"> Cerrar Sesion </a></li>
                {% else %}
                <li><a href="{% url "vista_login" %}"> Login </a></li>
                {% endif %}              
                
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="hero-unit">
            {% block content %}
            {% endblock%}
          </div>
        </div><!--/span-->
        
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Mis Acciones</li>
              <br><p align="justify">
                Acciones Disponibles
              </p>
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="ProductosNuevos">
              <li class="nav-header">Nuevos </li>              
            </ul>
          </div><!--/.well -->
          <!-- <img src="/media/images/django.gif"/>-->
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer style="text-align:center" >
           <p>Copyright 2013 Todos los derechos reservados - <strong>SiGeP S.A. </strong> - Córdoba - Argentina <br />
                                        By: Altamirano | Peker  Solutions </p>
      </footer>
    </div><!--/.fluid-container-->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
