<!doctype html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>SiGeP</title>
	 <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
     <link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
     <link href="/media/bootstrap/css/bootstrap-sigep.css" rel="stylesheet">
    <link href="/media/css/sigep.css" rel="stylesheet">
    <script src="/media/js/jquery.js"></script>
    <script src="/media/bootstrap/js/bootstrap.js"></script>  
  
</head>
<body>
   <style>
  body {
        padding-top: 60px;
        padding-bottom: 40px;
       }      
   </style>
<a name="enlace1"></a>
<div id="header">
<!--    <div class="container">-->
	<div class="navbar ">
		<div class="navbar-inner">
			<div id="contentendor-navegador" class="container-fluid">
        <div class="span9">
			    <a class="brand" href="{% url "vista_index" %}">Home</a>
				  <ul class="nav nav-pills">
					   <li><a href="{% url "vista_pedidoInformacion" %}">Pedido</a></li>
					   <li><a href="{% url "vista_producto_listado"  %}">Productos</a></li>			
					   <li><a href="">Promociones</a></li>
					   <li><a href="{% url "vista_sucursal" %}">Sucursales</a></li>
					   <li><a href="/contacto/">Contacto</a></li>
				  </ul>
          <div class="pull-right">
            <div class="social">
                <a class="" href="http://www.facebook.com/federicopeker"><img src="/media/imagenes/base/fb.png"></a>
                <a class="" href="https://twitter.com/federicopeker"><img src="/media/imagenes/base/tw.png"></a>
            </div><!--/div social -->
          </div><!--/div pull -->
      </div><!--/span9 -->
      
      <div class="span3">          
      </div><!--/span3 -->
 <div class="login">
          {% if user.is_authenticated %}
           {{ user.username }}|
          <a href="{% url "vista_logout" %}"> Cerrar Sesion </a>
          {% else %}
        
          <a href="/accounts/login"> Ingresar </a>
          <!-- comienzo del model-->
      <!--   <a href="#myModal" class="" data-toggle="modal"> <i class="icon-user"></i> Login here</a>
            <div class="modal hide fade " id="myModal" aria-labelledby="modalLabel" aria-hidden="true">
              <div class="modal-header">
                <h3 id="modalLabel">Login</h3>
              </div>
              <div class="modal-body">
                <form  class="form-horizontal">
                  <div class="control-group">
                <label for="nombre" class="control-label">Nombre de Usuario</label>
                <div class="controls">
                  <input type="text" placeholder="nombre de usuario" name="nombre">
                </div>
              </div>
              <div class="control-group">
                <label for="apellido" class="control-label">Contraseña</label>
                <div class="controls">
                  <input type="password" name="contraseña">
                </div>
              </div>
                  <br><br>
                  <button type="submit" class="btn btn-primary" >Login</button>
                  <button type="reset" class="btn">Clear</button>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>
            <!-- fin del model -->
          {% endif %}
          </div>
				      
			</div><!--/container fluid -->
		</div><!--/navbar inner -->
	</div><!--/navbar -->
	<hr>

</div><!--/div header -->
<div class="breadcrumbs">
{% block breadcrumbs %}
{% endblock %}
<!--<hr>-->
</div> 
	<div class="container-fluid" style="overflow:hidden">
    
      <div class="row-fluid"  >
      
        <div class="span9" style="float:left">
        
            {% block estadoPedido %}           
            {% endblock %}
          <div class="hero-unit"  >
            {% block content %}
            {% endblock%}
          </div>
           
        </div><!--/span-->
         
        <div class="span3" style="float:left">
          {% block panelAux %}
            {% endblock%}
            </div><!--/span--> 
          
      </div><!--/row-->
   
  
  {% block contentInferior%}
  {% endblock %}
     
    </div><!-- Fin container fluid-->
    <br>

    <hr>
  <footer style="text-align:center" >
    <div class="span12">
      <div class="pull-right">
       <a href="#enlace1"><i class="icon-hand-up"></i>Subir</a>
      </div>
          <p>Copyright 2013 Todos los derechos reservados - <strong>SiGeP S.A. </strong> - Córdoba - Argentina <br /></p>
     </div>
  </footer>
   

</body>
</html>