{% extends 'base.html' %}
{% block title %} Pagina Inicio{% endblock %}
{% block breadcrumbs %}
 <ul class="breadcrumb">
<li><a href="/">Home</a>  <span class="divider">></span> </li>
</ul>
{% endblock %}
{% block content %}

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item">
        <img src="/media/imagenes/carousel/menu.jpg"    alt="">
        <div class="carousel-caption"  >
          
          <h4>Menú</h4>
          <p>Menús para toda la familia</p>

        </div>
      </div>
      <div class="item">
        <img src="/media/imagenes/carousel/promocion.jpg" alt="">
        <div class="carousel-caption">
          <h4>Promoción</h4>
          <p>Promociones increibles para todos los gustos</p>
        </div>
      </div>
      <div class="item active" >
        <img src="/media/imagenes/carousel/productosSolicitados.jpg"   alt="">
        <div class="carousel-caption" >
          <h4>Nuestros Productos</h4>
          <p>Revise nuestros menús</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
{% endblock %}
{% block panelAux %}
<a href="http://www.quilmes.com.ar"  ><img src="/media/imagenes/publicidades/quilmes.jpg" alt="quilmes" /> </a> 
<a href="http://www.coca-cola.com.ar"  ><img src="/media/imagenes/publicidades/cocacola.jpg" alt="cocacola" /></a>  
<a href="http://www.mccain.com.ar" ><img src="/media/imagenes/publicidades/mccain.jpg" alt="mccain" /></a>   
{% endblock %}
{% block contentInferior%}
 <hr>
  <div class="accordion" id="accordion2">
      <span class="span4">
          <div class="accordion-group">
               <div class="accordion-heading">
                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  <h3> Drupal</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, voluptatesnt</p>
                   </a>
               </div>
               <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, odio, corrupti, facilis, dolore possimus qui eligendi rem quae obcaecati perspiciatis similique voluptatum doloribus ex! Odio voluptas mollitia veniam esse molestias?
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, optio, similique autem officia rerum suscipit. Odio, vel minima provident dolores voluptatum est ea ex cumque optio magni. Nemo, voluptates, hic.
               <br>
               <a href="#" class="btn btn-primary"> Mas info</a>
              </div>
               </div>
          </div>
      </span>
<span class="span4">
<div class="accordion-group">
               <div class="accordion-heading">
                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  <h3> Jquery mobile</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, voluptates</p>
                   </a>
               </div>
               <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, odio, corrupti, facilis, dolore possimus qui eligendi rem quae obcaecati perspiciatis similique voluptatum doloribus ex! Odio voluptas mollitia veniam esse molestias?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, optio, similique autem officia rerum suscipit. Odio, vel minima provident dolores voluptatum est ea ex cumque optio magni. Nemo, voluptates, hic.
                       <br>
                        <a href="#" class="btn btn-primary"> Mas info</a>
                     </div>
               </div>
          </div>
</span>
<span class="span4">
<div class="accordion-group">
               <div class="accordion-heading">
                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  <h3> Bootstrap</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, voluptates,</p>

                   </a>
               </div>
               <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, odio, corrupti, facilis, dolore possimus qui eligendi rem quae obcaecati perspiciatis similique voluptatum doloribus ex! Odio voluptas mollitia veniam esse molestias?
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, optio, similique autem officia rerum suscipit. Odio, vel minima provident dolores voluptatum est ea ex cumque optio magni. Nemo, voluptates, hic.
                       <br>
                        <a href="#" class="btn btn-primary"> Mas info</a>
                     </div>
               </div>
          </div>
</span>
</div>
{% endblock %}