{% extends 'base.html' %}
{% block title %} Pagina Inicio{% endblock %}
{% block breadcrumbs %}
 <ul class="breadcrumb">
<li><a href="/">Home</a>  <span class="divider">></span> </li>
</ul>
{% endblock %}
{% block content %}

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item">
        <img src="C:\Users\Monica\Pictures\slide\Desert.jpg"   width="870px" height="200px" alt="">
        <div class="carousel-caption"  >
          
          <h4>First Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

        </div>
      </div>
      <div class="item">
        <img src="C:\Users\Monica\Pictures\slide\Lighthouse.jpg" width="870px" height="200px" alt="">
        <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      <div class="item active" >
        <img src="C:\Users\Monica\Pictures\slide\Desert.jpg" width="870px" height="200px" alt="">
        <div class="carousel-caption" >
          <h4>Third Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
{% endblock %}
{% block contentInferior%}
 <hr>
      <div class="span4">
         <h2>Boostrap</h2>
         <hr>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, atque, mollitia, unde animi ipsa consectetur eos aut a velit voluptatem provident ratione quam dolore! Quibusdam dolores ipsum fuga quas dolore!</p>
         <a href="" class="btn btn-primary">Leer mas</a>
    </div>
    <div class="span4">
          <h2>Jquery mobile</h2>
           <hr>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, vitae, sapiente repellat dolorem corporis tempore corrupti consequuntur ut illum reiciendis quidem magnam placeat beatae quod nesciunt autem hic perspiciatis officiis?</p>
          <a href="" class="btn btn-primary">Leer mas</a>
    </div>
    <div class="span4">
           <h2>Drupal</h2>
           <hr>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ea, odit culpa aliquam ab quos blanditiis necessitatibus quibusdam praesentium nobis quae officia quisquam est dolore cumque alias illo temporibus similique.</p>
           <a href="" class="btn btn-primary">Leer mas</a>
    </div>
  

{% endblock %}