{% extends "base.html" %}
{% load i18n %}

{% block title %} "Resetear password " {% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Olvidaste tu password? Ingresa tu mail a continuacion , y te enviaremos instrucciones para generar una nueva." %}</p>

<form action="" method="post">
	{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input class="btn" type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
