{% load i18n %}{% autoescape off %}
{% trans "Estas recibiendo este correo porque solicitaste resetear tu clave" %}
para tu cuenta en  SIGeP.

{% trans "Por favor dirigite al siguiente link para cambiar tu clave:" %}

{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}

{% trans "Tu usuario, en caso de que lo hayas olvidado:" %} {{ user.username }}

{% trans "Gracias por usar nuestro sitio!" %}

<p>La Comunidad de sigep</p>

{% endautoescape %}
