/*!
 * SiGeP CSS para la pagina
 *
 */
/* Home */
.social{margin: 15px 0 0 0;padding: 0;float: right;height: 37px;}
.social > a{margin: 0 10px 0 0;padding: 0 0 16px;}
.social > a:hover{border-bottom: 3px solid black;}
.login{margin: 15px 0 0 0;padding: 0;float: right;height: 37px;}
.login> a{margin: 0 10px 0 0;padding: 0 0 16px;}
.login > a:hover{border-bottom: 3px solid black;}
.item{border:1px solid #d9d9d9;margin:0 0 10px 0;background-color:#e6e6e6}
.header {position: relative;background-color: #fff;}
.header .column { float: right;width: 452px;padding: 10px 0;}
.header img {width:140px; height:72px;}
.header a{color:#0078ae; font-weight: bold; display: block; overflow:hidden; cursor: pointer; }
.header a:hover,
.header a:focus { color: #ffffff; background-color:#0078ae;}
.header h2 {
font-family: DominosFont,Arial,Helvetica,sans-serif;
font-size: 18px;
}
#wrapper{width:200px;height150px;margin:auto;}
.carousel-inner {text-align:center;}
.carousel .item > img{display: inline-block;width:870px; height:350px;}


