/*!
 * SiGeP CSS para la pagina
 *
 */
/* Home */
.social{margin: 15px 0 0 0;padding: 0;float: right;height: 37px;}
.social > a{margin: 0 10px 0 0;padding: 0 0 16px;}
.social > a:hover{border-bottom: 3px solid black;}
.login{margin: 15px 0 0 0;padding: 0;float: right;height: 37px;}
.login> a{margin: 0 10px 0 0;padding: 0 0 16px;}
.login > a:hover{border-bottom: 3px solid black;}
.item{border:1px solid #d9d9d9;margin:0 0 10px 0;background-color:#e6e6e6}
.header {position: relative;background-color: #fff;}
.header .column { float: right;width: 500px;padding: 10px 0;}
.header img {float: left;width:140px; height:72px;}
.header a{color:#0078ae; font-weight: bold; display: block; overflow:hidden; cursor: pointer; }
.header a:hover,
.header a:focus { color: #ffffff; background-color:#0078ae;}
.header h2 {
font-family: DominosFont,Arial,Helvetica,sans-serif;
font-size: 18px;
}
#wrapper{width:200px;height150px;margin:auto;}
.carousel-inner {text-align:center;}
.carousel .item > img{display: inline-block;width:870px; height:350px;}
.añadir {margin-bottom: 10px;display: block; height: 240px;width:800px;}
.añadir .producto {width:255px;float: left;margin: 10px 0 0 0;}
.añadir img {width:250px; height:150px;}
.cabecera {background-color:#eeeeee;margin: 0;}
.cabecera .nav {margin: 0;}
.encabezado{
	width:408px;
	height: 29px;
	font-family: DominosFont,Arial,Helvetica,sans-serif;
	background-color: #0078ae;color: #fff;
	text-transform: uppercase;font-size: 17px;
	padding: 8px 10px;
	border-radius: 5px 5px 5px 5px;
	font-weight: bold;
	}

img.img-rounded{height: 213px;width:290px}

.well .nav .nav-header{
	color: #FFFFFF;
	font-size: 17px;
	background-color: #0078AE;
	border-radius: 5px;
	text-align: left;
	text-shadow: 0px 0px;
	font-weight: none;
	
}

.table-hover img{
	height: 50px;
	width: 50px; 
}
.table-hover thead{
	border-radius: 5px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus{
	border-radius: 5px;
}

#ProductosNuevos p{
	margin-top: 10px
}
.well a {
color: #0088cc;
text-decoration: underline;
}
.well hr{
	margin:8px; 
}
